.tb1{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    gap: 1px;
    padding: 10px;
}

.tb1 img{
width: 100%;
}

.critique {
    align-self: center;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    padding: 20px;
    align-content: center;
}
.critique{
    align-self: center;

}



.critique2 h4{
    text-align: center;

}

.healthPlan{
   border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.marathi{
    font-family: "Yantramanav", sans-serif;
}

@media screen and (max-width: 800px) {

    .tb1{
        grid-template-columns: 1fr;
    }
    .tb1 img{
        max-width: fit-content;
    }


}